# Node
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Cucumber HTML report (generated at root)
/features/
/features/assets/
/features/index.html
/cucumber-report.html

# Rerun file
@rerun.txt
